html
    body
        h1(id="joueur") Player wins
        h1(id="computer") Computer wins
        a(href="/result" + user).choice
            img(src="/" + pick.id + ".png")
        a(href="/result" + computer).choice
            img(src="/" + pick.id + ".png")